/*
 * The MIT License
 *
 * Copyright 2016 Sebastian Sdorra.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
 
package {{packageName}};

import com.github.sdorra.ssp.Constants;
import com.github.sdorra.ssp.PermissionCheck;
import com.github.sdorra.ssp.PermissionActionCheck;

/**
 * Permission checks for {{type}} related permissions.
 */
public final class {{className}} {

  // constants

  /** permission type */
  private static final String TYPE = "{{type}}";
  {{#globalPermissions}}
  
  /** {{name}} permission */
  public static final String ACTION_{{constant}} = "{{name}}";
  {{/globalPermissions}}  
  {{#permissions}}
  
  /** {{name}} permission */
  public static final String ACTION_{{constant}} = "{{name}}";
  {{/permissions}}
  
  // constructor
  
  private {{className}}(){}

  // public global permissions methods
  {{#globalPermissions}}
  
  /**
   * Returns permission check for {{name}} action.
   *
   * @return permission check for {{name}} action
   */
  public static PermissionCheck {{name}}() {
    return check(ACTION_{{constant}});
  }
  {{/globalPermissions}}
  
  // public permission methods
  {{#permissions}}
  
  /**
   * Returns permission check for {{name}} action.
   *
   * @param id id of permission object
   *
   * @return permission check for {{name}} action
   */
  public static PermissionCheck {{name}}(String id) {
    return check(ACTION_{{constant}}.concat(Constants.SEPARATOR).concat(id));
  }
  
  /**
   * Returns permission check for {{name}} action.
   *
   * @param item permission object
   *
   * @return permission check for {{name}} action
   */
  public static PermissionCheck {{name}}({{permissionObject}} item) {
    return check(ACTION_{{constant}}.concat(Constants.SEPARATOR).concat(item.getId()));
  }
  
  /**
   * Returns permission action check for {{name}} action.
   *
   * @return permission action check for {{name}} action
   */
  public static PermissionActionCheck<{{permissionObject}}> {{name}}() {
    return actionCheck(ACTION_{{constant}});
  }
  {{/permissions}} 
  
  // private methods
  
  private static PermissionActionCheck<{{permissionObject}}> actionCheck(String action) {
    return new PermissionActionCheck<>(TYPE.concat(Constants.SEPARATOR).concat(action));
  }

  private static PermissionCheck check(String permission) {
    return new PermissionCheck(TYPE.concat(Constants.SEPARATOR).concat(permission));
  }
}